@use "reset";
@use "typography";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-223deg, #d7c1cc, #8286f6);
  max-width: 908px;
  margin-left: auto;
  margin-right: auto;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  background: white;
  border: none;

  &::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: black;
    width: 6px;
    height: 10px;
    opacity: 1;
  }
}
