@use "reset";
@use "typography";

:root {
  --border-color: rgb(243, 167, 167);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-transform: lowercase;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: white;
  border: black solid 1px;
  margin: 4px 0 0 0;

  &::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: black;
    width: 6px;
    height: 10px;
    opacity: 1;
  }
}

.select-container {
  padding-bottom: 12px;
  select {
    width: 100%;
    padding: 4px 4px;
    font-size: 12px;
    line-height: 1.5;
    border: 0px solid transparent;
    border-radius: 0;
    background-color: rgb(244, 230, 246);
    cursor: pointer;
    color: #333;
    font-family: var(--font-sans-serif);
    text-transform: lowercase;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23929a9b' d='M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%;
    background-size: 1em;
    &:hover {
      border-color: #aaa;
    }
    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }
  }
}

.button-container {
  padding-bottom: 12px;
  button,
  label.import {
    text-align: center;
    display: block;
    width: 100%;
    padding: 4px 4px;
    font-size: 12px;
    line-height: 1.5;
    border: 0px solid transparent;
    border-radius: 0;
    background-color: rgb(244, 230, 246);
    cursor: pointer;
    color: #333;
    font-family: var(--font-sans-serif);
    text-transform: lowercase;
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%;
    background-size: 1em;
    &:hover {
      border-color: #aaa;
    }
    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }
  }
}

.range-container {
  padding-bottom: 12px;
  input[type="range"] {
    background-color: rgb(244, 230, 246);
  }
}

label {
  display: flex;
  padding-bottom: 4px;
  .right {
    margin-left: auto;
  }
}

.module {
  border: 1px solid var(--border-color);

  .header {
    min-height: 26px;
    background-color: rgb(243, 167, 167);
    display: flex;
    align-items: center;
    padding: 4px;
    input[type="checkbox"] {
      margin-left: auto;
    }
    label:has(+ input[type="checkbox"]) {
      position: absolute;
      overflow: hidden;
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
    }
  }

  .controls {
    padding: 8px;
  }
}
