.header {
  color: white;
}

.heading {
  display: none;
}

.synth-layout {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "oscillator1 oscillator2 oscillator3 lfo"
    "filter filter envelope volume"
    "keyboard keyboard keyboard keyboard";
  gap: 20px;
  color: white;
  height: 100%;
}
