.header {
  color: white;
}

.heading {
  display: none;
}

.synth-layout {
  background-color: rgb(253, 204, 204);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-areas:
    "oscillators oscillators oscillators lfo"
    "filter envelope . ."
    "keyboard keyboard keyboard keyboard";
  gap: 12px;
  width: 1000px;
  height: 100%;
}

.oscillators {
  grid-area: oscillators;
  display: flex;
  gap: 12px;
}
